@import 'nib'

// utils
abs-pos(t r b l)
	position: absolute
	top: t
	right: r
	bottom: b
	left: l

.landing-page
	abs-pos(0,0,0,0)
	background-color:black
	display:flex
	flex-direction:column
	align-items:center
	justify-content:center
	text-align:center

button
	background-color: black
	color: white
	font-size: 200%